/*  GRID OF THREE   ============================================================================= */


.span_3_of_3 {
	width: 100%;
	border: red 1px solid; 
}

.span_2_of_3 {
	width: 66.13%; 

}

.span_1_of_3 {
	width: 32.26%; 
}
.span_firstname {
	width: 40%;
	padding-left: 2%; 

}
.span_initials {
	width: 16%;

}
.span_lastname {
	width: 36%;

}
/* for the landing page alignments */
.span_fund {
/*	border: black 1px solid;*/
	padding-top: 95px;
	width: 32%;
}
.span_play {
/*	border: black 1px solid;*/
	padding-top: 95px;
	width: 32%;
	

}
.span_win {
/* border: black 1px solid;*/
	padding-top: 95px;
	width: 32%; 
	
}
.span_main {

	width: 66.13%; 
	border-radius: 10px;

}
.span_main_validate {

	width: 80%; 
	border-radius: 10px;

}

.span_side {

	width:30%;
	border-radius: 10px;
}
.span_text {
	width: 66%; 
}

.span_enter_button {
	width:100%; 
	padding-top:40px;
	text-align: center;
	
} 
.span_circles {
	border: purple 1px solid;
	width:100%; 
	text-align: center;
	
} 

.span_signup_button {
	width: 32%;
	text-align: right; 
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%; 
	}
	.span_side {
		width: 48%;
/*		padding-right: 10px;*/
	}
	.span_firstname {
	width: 100%;
	padding-left:0px;
	}
	.span_initials {
	width: 100%; 
	padding:0;
	}
	.span_lastname {
	width: 100%; 
	padding:0;
	}

}